[submodule "sync"]
	path = sync
	url = https://github.com/bodhiproject/bodhi-graphql.git
[submodule "api"]
	path = api
	url = https://github.com/bodhiproject/bodhi-api.git
[submodule "ui"]
	path = ui
	url = https://github.com/bodhiproject/bodhi-ui.git
